<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
<body>
  <% if @current_user %>
      Welcome Back <%= @current_user.name %>
    <% end %>

    <div class="container">
      <div class="row">
         <div class="col s12">
           <%= react_component 'BookList' %>
           <!-- <img class="img" src="https://images.unsplash.com/photo-1455884981818-54cb785db6fc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=fb65a3500db5fcab16b274e9e3ab3df8>" -->
         </div>
      </div>
    </div>
  </body>
</html>
