<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Kids Books Library</h1>

    <p>
      Please login here: <%= http://kidslibrary.herokuapp.com %>
    </p>
  </body>
</html>
