<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book List</title>
  </head>
  <body>
<div class="column">
      <div class="row">
        <div class="col s12 m5">
          <div class="card">
            <div class="demo-card-square mdl-card mdl-shadow--2dp" style: "width: 500px;">
              <%= image_tag attachment_url(@book, :book_image, :fill, 300, 400, format: "jpg") %>
       </div>
            <span class="card-title"><%= @book.title %>
            <%= @author_id %></span>
            </div>
            <div class="card-content">

            </div>
            <div class="card-action">
              <%= link_to 'Edit', edit_book_path %>
            </div>
          </div>
        </div>
      </div>
</div>
