@import "materialize/components/color";
@import "materialize/extras/nouislider";
@import "materialize";
@import 'books';


$primary-color:#26A69A;

.nav-wrapper{
 background-color: $primary-color;
  a{
    padding-left: 20px;
    font-size: 20px;
  }
}


.img{
  margin-top: -100px;
  width:1800px;
  background-size: cover;
  background-repeat: no-repeat;
}

.material-icons {
text-rendering: optimizeLegibility;
}

select {
  display: block;
}
