@import "materialize/components/color";
@import "materialize/extras/nouislider";
@import "materialize";
@import 'books';


$primary-color:#26A69A;

.nav-wrapper{
 background-color: $primary-color;
  a{
    padding-left: 20px;
    font-size: 20px;
  }
}


.img{
  margin-top: -100px;
  width:1800px;
  background-size: cover;
  background-repeat: no-repeat;
}


select {
  display: block;
}


.react_display{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 30px;



   .thumbnail{
     position: relative;
     padding:30px;
   }
}

.react_button{
  padding-left: 40px;
}
