.container{
  display: flex;
}

.column{
  padding: 50px;
}

.mdl-card__title{
  margin-top: 20px;
}

.demo-card-square.mdl-card {
  width: 350px;
  margin: 40px;
}

.mdl-card__supporting-text {
  margin-top: 10px;
  padding:10px;
}

.mdl-card--expand {
  min-height: 350px;
}

.submit{
  padding-top: 60px;
}

.btn{
  margin-top:20px;
}
