.demo-card-square.mdl-card {
  width: 350px;
  margin: 40px;
}

.mdl-card__supporting-text {
  margin-top: 5px;
  padding:10px;
}

.mdl-card--expand {
  min-height: 350px;
}


.btn{
  margin-top:10px;
}
